.page-container{
    width:100vw;
    height: 100vh;
    background-color: rgb(14,15,17);
    display: flex;
    justify-content: center;

}

.div-container{
    margin-top: 30vh;
    width: 20vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(28,29,31);
    border-radius: 5vh;

}

.to-main{
    width: 16vw;
    height: 4vh;
    border-radius: 1vh;
    text-align: center;
    background-color: transparent;
    border: 0.05vh solid rgb(154,148,236);
    color: rgb(154,148,236);
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.div-container h1{
    font-size: 1.2vw;
    color: white;
    text-align: center;
}

.div-container h2{
    font-size: 0.8vw;
    color: white;
    text-align: center;
}